{%  extends "base.html.twig" %}

{% block title property.title %}

    {% block body %}

        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src={{ '/images/properties/empty.jpg' | imagine_filter('medium') }} alt="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                    </div>
                    <div class="col-md-4">
                        <h1>{{ property.title }}</h1>
                        <h2>{{ property.rooms }} pièces . {{ property.surface }} m2</h2>
                        <div class="text-primary" style="font-weight: bold; font-size: 4rem">{{ property.formatedPrice }} €</div>
                        <a href="#" class="btn btn-primary">Contacter l'agence</a>
                        <div id="contactForm" class="mt-4">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname) }}</div>
                                <div class="col">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.phone) }}</div>
                                <div class="col">{{ form_row(form.email) }}</div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group">
                                <button class="btn btn-primary">Envoyer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
        <div class="container mt-4">
            <p>
                {{ property.description | nl2br }}
            </p>

            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Surface habitable</td>
                            <td>{{ property.surface }} m2</td>
                        </tr>
                        <tr>
                            <td>Pièces</td>
                            <td>{{ property.rooms }} m2</td>
                        </tr>
                        <tr>
                            <td>Surface habitable</td>
                            <td>{{ property.surface }} m2</td>
                        </tr>
                        <tr>
                            <td>Chambres</td>
                            <td>{{ property.bedRooms }} m2</td>
                        </tr>
                        <tr>
                            <td>Etage</td>
                            <td>{{ property.floor }} m2</td>
                        </tr>
                        <tr>
                            <td>Chauffage</td>
                            <td>{{ property.heatType }} m2</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Spécificités</h2>
                    <ul class="list-group">
                        {% for option in property.options %}
                            <li class="list-group-item">{{ option.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% endblock %}
