<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mail</title>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
                <td align="left">Nom du bien : </td>
                <td align="left">{{ contact.property.title }}</td>
            </tr>
            <tr>
                <td align="left">Nom  : </td>
                <td align="left"><a href="{{ url('property.show', {id: contact.property.id, slug:contact.property.slug} ) }}">{{ contact.firstname }}</td>
            </tr>
            <tr>
                <td align="left">Prénom : </td>
                <td align="left">{{contact.lastname  }}</td>
            </tr>
            <tr>
                <td align="left">Téléphone : </td>
                <td align="left">{{contact.phone  }}</td>
            </tr>
            <tr>
                <td align="left">Mail : </td>
                <td align="left">{{ contact.email }}</td>
            </tr>
            <tr>
                <td align="left">Message : </td>
                <td align="left">{{ contact.message | nl2br }}</td>
            </tr>
        </table>
    </body>
</html>

